@import url("reset.css");

body {
  min-height: 200vh;
}

main {
  width: 100%;
  max-width: 1380px;
  margin: 0 auto;
}

#menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: #fff;
  height: 162px;
  width: 100%;
  max-width: 1380px;
  margin: 0 auto;
  padding: 0 15px;
  outline: solid 1px red;
  transition: 0.2s;
}

#menu > * {
  outline: solid 1px blue;
}

#menu > .logo {
  flex: 0 1 auto;
  /* width: 20%; */
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

#menu > .zone1 {
  flex: 1 0 auto;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}

#menu > .zone1 > div {
  outline: solid 1px green;
}

#menu > ul.zone2.primary-menu {
  flex: 1 1 80%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#menu > ul.zone2.primary-menu > li {
  outline: solid 1px orangered;
}

.logo > a {
  display: block;
  /* outline: solid 2px darkcyan; */
}

.logo > a > svg {
  fill: #000;
  width: 300px;
}

/* Mode narrow */
#menu.narrow {
  max-width: 1025px;
}

/* Mode mini */

#menu.mini {
  position: sticky;
  top: 0;
  height: 60px;
}

#menu.mini > .logo svg {
  width: 150px;
}

#menu.mini > .zone1 {
  display: none;
}

#menu.mini > .zone2 {
  padding-left: 15px;
}

ul {
  padding: 0;
  list-style-type: none;
}

.ctrl {
  position: fixed;
  bottom: 12px;
  left: 12px;
}

label {
  padding: 12px;
  background-color: #ccc;
  margin: 4px;
}
